body {
  background-color: #29365e;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 48px 64px 0px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

.italic {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: bold;
}

/* sidebar */

.sidebar {
  width: 200px;
  width: 250px;
  position: fixed;
  top: 190px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  border: solid;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    max-width: 250px;
    position: static;
    top: auto;
  }
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
  font-size: 18px;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar li a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  width: 170px;
  background-color: #4e9aa5;
  color: black;
  border-radius: 100px;
  text-decoration: none;
  font-weight: bold;
}

.sidebar li a:hover {
  background-color: #3c7b87;
}

.sidebar li a.active {
  background-color: #3c7b87;
  color: #ffffff;
  font-weight: bold;
}

.sidebar li a.active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid red;
}

/* MEME container */
.memes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  list-style: none;
}

.memes-container img {
  width: 70%;
  height: auto;
  border-radius: 5px;
}

.meme-box {
  background-color: #5e6e9f;
  padding: 5px;
  border-radius: 20px;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* like & dislike button */

.btn {
  border: none;
  background-color: #4c4c4c;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 10px;
  width: 110px;
}

.btn:hover {
  background-color: #787676;
}

.btn-star {
  border: none;
  background-color: #858585;
  padding: 10px 10px;
  border-radius: 100px;
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 10px;
  width: 50px;
}

.btn-star:hover {
  background-color: #9d9b9b;
}

/* GENERATOR */
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  margin-bottom: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-style: italic;
}

.form--input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-bottom: 10px;
}

.form--button {
  padding: 10px 20px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.meme {
  text-align: center;
  position: relative;
}

.meme--image {
  width: 500px;
  height: auto;
  margin-bottom: 10px;
}

.meme--text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  pointer-events: none;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.meme--text.top {
  top: 10px;
}

.meme--text.bottom {
  bottom: 10px;
}
