body {
  background-color: #1d5f66;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 48px 64px 0px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar {
  list-style: none;
  color: yellow;
}

/* MEME container */
.memes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  list-style: none;
}

.memes-container img {
  width: 40%;
  height: auto;
  border-radius: 5px;
}

.meme-item {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 300px;
  height: auto;
  text-align: center;
}
